<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <title>TinyApp | Login</title>
</head>

<body>
  <%- include('partials/_header') %>
    <div class="card-header"></div>
    <div class="card-body">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-6">
            <h2>User Login</h2>
            <form action="/login" method="post">
              <label for="email">Email address</label><br>
              <input class="form-control" type="email" placeholder="Email address" name="email">
              <br>
              <label for="password">Password</label>
              <input class="form-control" type="password" placeholder="Password" name="password">
              <br>
              <button class="btn btn-outline-success" type="submit">Login</button>
              <br>
              <br>
              <p>Don't have an account? <a href="/register">Create a TinyApp Account</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
</body>

</html>